*{
    padding: 0;
    box-sizing: border-box;
}
nav,p,h2,ul,a{
    font-family: "Inter", sans-serif;
}
.banner-text h1,.plant-title h1,.deals-title h1{
    font-family: "Noto Serif", serif;
}
body{
    background-color: #f1f1f1;
}
header,.banner,.plants,.plants-lover,.deals{
    width: 80%;
    margin: 0 auto;
}
/* shared styles */
.banner-text span,.plant-title span,.deals-title span{
    color: #E95A08;
}
.text-gray{
    color: #8987A1;
}
.btn{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 20px 80px;
    font-size: 1em;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
@keyframes badge-animation {
    0%{
        opacity: 1;
        transform: translate(-60%,-50%) rotate(0deg);
    }
    100%{
        opacity: 1;
        transform: translate(-60%,-50%) rotate(360deg);
    }
}
/* nav  */
.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.nav-links{
    display: flex;
    gap: 48px;
    font-size: 1.5em;
    text-align: center;
}
/* banner */
.banner,.plants,.plants-lover{
    margin-top: 100px;
}
.banner-content{
    display: flex;
    align-items: center;  
}
.banner-text h1{
    font-size: 2em;
    margin-bottom: 18px;
}
/* .banner-text p{
    font-size: 1.25em;
} */
/* Plants */
.plant-title,.deals-title{
    font-size: 1.6em;
    text-align: center;
}
.card{
    text-align: center;
    line-height: 24px;
}
.plant-cards{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 20px;
}
.plant-cards p{
    font-size: 1.5em;
    font-weight: 800;
}
/* Plants Lover */
.plants-lover{
    margin-top: 150px;
    position: relative;
}
.plants-lover-content{
    display: flex;
    gap: 60px;
    z-index: 1;
}
.plants-lover-text h1{
    font-size: 3.5em;
}    
.plants-lover-text ul{
    font-size: 1.4em;
    padding-left: 30px;
}
.plants-lover-text ul li{
    margin-bottom: 14px;
}
.plant-badge img{
    position: absolute;
    width: 286px;
    height: 286px;
    left: 50%;
    z-index: 2;
    background: none;
    
    animation: badge-animation 2s linear infinite;
}
/* Deals */
.deals{
    margin-top: 150px;
}
.deals-section {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.deals-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.deals-right {
  flex: 2;
}
.deal-card{
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-color: transparent;
}
.deal-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.deal-info,.join-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: transparent;
  z-index: 2;
}
.deal-info h3,
.deal-info p,
.deal-info a {
  background: none;
}
.deal-info h3 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
}
.deal-info a{
    color: white;
    font-size: 1.5em;
}
.small {
  height: 200px;
}
.large {
  height: 420px;
}
/* Join section */
.join-sectiion {
  width: 100%;
  position: relative;
  background: url('./assets/news-letter-bg.png') no-repeat center center/cover;
  display: flex;
  min-height: 500px;
  margin-top: 80px;
}
.join-sectiion #overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.join {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
}
.join-info h1 {
  font-size: 4rem;
}
.join-text-btn {
  display: flex;
  justify-content: center;
  gap: 0px;
}
.join-info input {
  padding: 25px 20px;
  width: 700px;
  max-width: 80%;
  outline: none;
  font-size: 1rem;
}
/* footer */
.footer-items{
    display: flex;
    padding: 50px 140px;
    font-size: 1.5em;
    gap: 80px;
}
.footer-items ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-items ul li{
    list-style: none;
}
.footer-items ul a{
    text-decoration: none;
    color: #8987A1;
    white-space: nowrap;
}
.footer-icons{
    display: flex;
    gap: 20px;
    width: 156px;
    height: 36px;
}
@media (max-width:576px) {
    .banner-text h1,.plant-title h1,.deals-title h1{
        width: 90%;
    }
    .links-hide{
        display: none;
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-content h1{
        font-size: 3em;
    }
    .plant-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    }
    .card ,.card img{
        width: 90%;
    }
    .card .btn{
        padding: 26px;
    }
    .plants-lover-content {
        flex-direction: column;
    }

    .plants-store-image img {
        max-width: 100%;
    }
    .plants-lover-text h1{
        font-size: 2.5em;
    }
    .plant-badge img{
        display: none;
    }
    .deals{
        margin-top: 50px;
    }
    .deals-section {
    flex-direction: column;
    }
    .deals-right {
        flex: 1;
    }
    .small,.large {
        height: 200px;
    }
    .join-info h1 {
    font-size: 1.7rem;
    }
    .join-text-btn{
        width: 400px;
    }
    .join-info input {
        width: 70%;
        padding: 8px;
    }
    .join-info .btn {
        width: 30%;
        padding: 1px;
    }
    .footer-items{
    flex-direction: column;
    padding: 40px;
    gap: 0px;
    }
}